{% extends 'base.html' %}

{% block title %} {{match.team1.name}} - {{match.team2.name}} | {{match.date|date:"d.m.y"}} {% endblock %}

{% block content %}
<main class="container-fluid text-font w-75 mt-5 h-100">
    <!--Desktop-->
    <section class="row border-main rounded bg-sec align-items-center justify-content-center d-none d-lg-flex d-xl-flex position-relative">
        <div class="col-lg-5 text-center">
            <h2 class="pt-2">{{match.team1.name}}</h2>
            <hr class="mt-0" style="color: var(--main-color)">
            <img width="300px" height="300px" src="{{match.team1.picture.url}}" />
        </div>
        <div class="col-lg-2 text-center d-flex align-items-center bg-main rounded h-75 p-1">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="mb-0">{{match.date|date:"d.m.y"}}</h5>
                </div>
                <div class="col-lg-12">
                    <h5 class="h6">{{match.date|date:"H:i"}}</h5>
                </div>
                <div class="col-lg-12">
                    {% if now > match.date %}
                    <h4 class="text-bg">{{match.team1_points}} - {{match.team2_points}}</h4>
                    {% elif match.date > now %}
                    <a class="btn btn-font my-3 text-decoration-none text-font link-font" href="{% url 'buy_ticket' match.id %}">Билети</a>
                    {% endif %}
                </div>
                <div class="col-lg-12 text-left">
                    <div class="row">
                        <div class="col-12 my-1">
                            <span>Турнир:<br> <span class="text-bg">{{match.tournament.name}}</span></span>
                        </div>
                        <div class="col-12 my-1">
                            <span>Зала: <span class="text-bg">{{match.tournament.hall.name}}</span></span>
                        </div>
                        <div class="col-12 my-1">
                            <span>Съдия: <span class="text-bg">{{match.referee.first_name}}
                                    {{match.referee.last_name}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 text-center">
            <h2 class="pt-2">{{match.team2.name}}</h2>
            <hr class="mt-0" style="color: var(--main-color)">
            <img width="300px" height="300px" src="{{match.team2.picture.url}}" />
        </div>
        {% if request.user.is_staff %}
        <a href="{% url 'edit-fixture' match.id %}">
            <div class="position-absolute top-0 pt-1 px-1 start-0">
                <svg enable-background="new 0 0 24 24" height="23" viewBox="0 0 23 23" width="23"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>edit</title>
                    <g>
                        <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                    </g>
                    <g>
                        <g>
                            <path
                                d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z" />
                        </g>
                        <g>
                            <path
                                d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z" />
                        </g>
                    </g>
                </svg>
            </div>
        </a>

        <a href="{% url 'delete-fixture' match.id %}">
            <div class="text-right position-absolute top-0 end-0 pt-1 px-1">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32">
                    <title>remove</title>
                    <path
                        d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                    </path>
                </svg>
            </div>
        </a>
        {% endif %}
    </section>

    <!--Tablets and phones-->
    <section class="row bg-sec my-3 rounded border-main p-1 d-lg-none d-xl-none justify-content-around">
        <div class="row">
            <div class="col-6 text-center">
                <span class="text-truncate" title="{{match.team1.name}}">{{match.team1.name}}</span>
                <img class="card-img-top img-fluid" src="{{match.team1.picture.url}}">
            </div>
            <div class="col-6 text-center">
                <span class="text-truncate" title="{{match.team2.name}}">{{match.team2.name}}</span>
                <img class="card-img-top img-fluid" src="{{match.team2.picture.url}}">
            </div>
        </div>
        <div class="card-body mt-1 mx-3 ">
            <p class="card-text mb-0">Дата: <span>{{match.date|date:"d.m.y (H:i)"}}</span></p>
            <p class="card-text mb-0">Турнир: <span>{{match.tournament.name}}</span></p>
            <p class="card-text mb-0">Зала: <span>{{match.tournament.hall.name}}</span></p>
            <p class="card-text mb-0">Съдия: <span>{{match.referee.first_name}} {{match.referee.last_name}}</span></p>
            {% if now > match.date %}
            <p>Резултат: <span>{{match.team1_points}} - {{match.team2_points}}</span></p>
            {% else %}
            <div class="text-center mt-2">
                <a href="{% url 'buy_ticket' match.id %}" class="btn btn-font">Билети</a>
            </div>
            {% endif %}
        </div>
    </section>

    <!--For all-->
    <section class="row border-main rounded bg-sec my-5 align-items-center justify-content-center d-flex">
        <h3 class="text-center mt-3 mb-0">История</h3>
        <h5 class="h6 text-center mb-5">последни 10 игри</h5>
        {% for last_match in last_matches %}
        {% if now > last_match.date and last_match.date != match.date %}
        <div class="row d-flex align-items-center justify-content-center text-center">
            <h5 class="h6 mb-0">{{last_match.date|date:"d.m.y"}}</h5>
            <hr class="my-0" style="color: var(--main-color)">
            <div class="col-4 d-flex align-items-center justify-content-end text-center">
                <span class="d-none d-lg-flex d-xl-flex">{{last_match.team1.name}}</span>
                <img src="{{last_match.team1.picture.url}}" width="50px" height="50px">
            </div>
            <div class="col-2 text-center d-flex align-items-center justify-content-center">
                <span>{{last_match.team1_points}}</span>
                <span>-</span>
                <span>{{last_match.team2_points}}</span>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-start text-center">
                <img src="{{last_match.team2.picture.url}}" width="50px" height="50px">
                <span class="d-none d-lg-flex d-xl-flex">{{last_match.team2.name}}</span>
            </div>
            <hr class="mt-0" style="color: var(--main-color)">
        </div>
        {% endif %}
        {% endfor %}
    </section>
</main>
{% endblock %}