superuser:
-username: g2yaon
-password: yoyoyo123

1. Install Python
2. Create a virtual environment
3. pip install django
4. pip install Pillow
5. pip install qrcode

sandbox.paypal.com
business acc: bizyoan@gmail.com
personal acc: personalyoan@gmail.com