{% extends 'base.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="row mt-5 mx-3 mw-100 h-100">
        <div class="col-lg-4 bg-sec text-center border-main rounded">
            <h2 class="pt-2">{{user.first_name}} {{user.last_name}}</h2>
            <hr class="mt-0" style="color: var(--main-color)">
            <img class="mb-3 rounded" width="260px" height="260px" src="{{user.profile_picture.url}}" />

            <div class="my-2">
                <a class="btn btn-font mt-3 text-decoration-none text-font link-font"
                    href="{% url 'user-update' user.id %}">Редактирай профил</a>
            </div>
        </div>
        <div class="col-lg-8 bg-sec text-left border-main rounded pt-3">
            <div class="d-flex row">
                <div class="col-lg-3 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="16" height="16" class="mx-2">
                        <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/>
                    </svg>
                    <h5 class="h6">Потребителско име:</h5>
                </div>
                <div class="col-lg-9">
                    <h5 class="h6">{{user.username}}</h5>
                </div>
            </div>
            <div class="d-flex row">
                <div class="col-lg-3 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mx-2"
                        viewBox="0 0 16 16">
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                    </svg>
                    <h5 class="h6">Дата на раждане:</h5>
                </div>
                <div class="col-lg-9">
                    <h5 class="h6">{{user.birth_date|date:"d.m.Y"}}г.</h5>
                </div>
            </div>
            <div class="d-flex row">
                <div class="col-lg-3 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mx-2"
                        viewBox="0 0 16 16">
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                    </svg>
                    <h5 class="h6">Присъединил се:</h5>
                </div>
                <div class="col-lg-9">
                    <h5 class="h6">{{user.date_joined|date:"d.m.Y"}}г.</h5>
                </div>
            </div>
            <div class="d-flex row">
                <div class="col-lg-3 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mx-2"
                        viewBox="0 0 16 16">
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                    </svg>
                    <h5 class="h6">Последно на линия:</h5>
                </div>
                <div class="col-lg-9">
                    {% if user.is_active %}
                    <h5 class="h6">На линия</h5>
                    {% else %}
                    <h5 class="h6">{{user.last_login|date:"d.m.Yг. H:i"}}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}